Package: com.eltongoci.fileproto
Name: fileProto
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Enable file:// urls for Mobile Safari.
Maintainer: EltonG
Author: EltonG
Section: Tweaks
